{% extends 'bootstrap/base.html' %}


{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <form  action="{{url_for('add_page')}}" method="post" novalidate>
        {{form.csrf_token}}
        {{form.cafe_name.label}} <br>
        {{form.cafe_name(size=60)}} <br>
        {%for err in form.cafe_name.errors %}
        <span style="color: red">{{err}}</span>
        {%endfor%}
        <br>
        {{form.cafe_location.label}} <br>
        {{form.cafe_location(size=60)}}<br>
        {%for err in form.cafe_location.errors %}
        <span style="color: red">{{err}}</span>
        {%endfor%}
        <br>
        {{form.open_time.label}} <br>
        {{form.open_time(size=60)}}<br>
        {%for err in form.open_time.errors %}
        <span style="color: red">{{err}}</span>
        {%endfor%}
        <br>
        {{form.close_time.label}} <br>
        {{form.close_time(size=60)}}<br>
        {%for err in form.close_time.errors %}
        <span style="color: red">{{err}}</span>
        {%endfor%}
        <br>
        {{form.coffee_rating.label}} <br>
        {{form.coffee_rating}}<br>
        <br>
        {{form.wifi.label}} <br>
        {{form.wifi}}<br>
        <br>
        {{form.power_socket.label}} <br>
        {{form.power_socket}}<br>
        <br>

        <button type="submit">Submit</button>
      </form>

	  <p class="space-above"><a href="{{url_for('cafes_page')}}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
